#teamSelector {
  position: fixed;
  z-index: 1;
  inset: 0;
  isolation: isolate;
  display: grid;
  place-content: center;
  pointer-events: none
}
#teamSelector[data-is-active="true"] {pointer-events: auto}

#teamSelector > .background {
  position: absolute;
  inset: 0;
  display: flex;
}
#teamSelector > .background > div {
  height: 100%;
  flex-grow: 1;
  background: var(--background);
  transform: translateY(100%);
  transition: transform 1000ms cubic-bezier(0.16, 1, 0.3, 1) calc(50ms * var(--index));
}
#teamSelector[data-is-active="true"] > .background > div {transform: none}

#teamSelector > .title {
  z-index: 10;
  position: absolute;
  inset: 0 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  font-weight: 700;
  font-size: 3rem;
  color: black;
  opacity: 0.25;
  user-select: none;
  pointer-events: none;
}
body[data-theme="dark"] #teamSelector > .title {
  color: white;
  opacity: 0.15;
}

#teamSelector > .title > div {
  transform: translateY(-5rem);
  transition: transform 300ms cubic-bezier(0.7, 0, 0.84, 0) calc(10ms * var(--index));
}
#teamSelector > .title > .space {
  width: 1rem
}

#teamSelector[data-is-active="true"] > .title > div {
  transform: none;
  transition: transform 1000ms cubic-bezier(0.16, 1, 0.3, 1) calc(300ms + 50ms * var(--index));
}

#teamSelector > #teamGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  transition: transform 1000ms cubic-bezier(0.16, 1, 0.3, 1) 0ms;
  transform: scale(0) rotate(45deg);
}
#teamSelector[data-is-active="true"] > #teamGrid {
  transform: none !important;
  transition: transform 1000ms cubic-bezier(0.16, 1, 0.3, 1) 100ms;
}



#teamSelector > #teamGrid > .team {
  border-radius: 0.75rem;
  width: 6rem;
  height: 6rem;
  isolation: isolate;
  position: relative;
  transition: transform 500ms cubic-bezier(0.34, 1.56, 0.64, 1);
  background: var(--color);
  background: #999999;
}
#teamSelector > #teamGrid > .team > img {
  position: absolute;
  inset: 1rem;
  width: 4rem;
  opacity: 0.3;
  transform: rotate(var(--arrow-rotation));
}


#teamSelector > #teamGrid > .team:after {
  position: absolute;
  content: "";
  inset: 0;
  background: inherit;
  border-radius: inherit;
  filter: blur(1rem);
  z-index: -1;
}

#teamSelector > #teamGrid > .team:hover {
  transform: scale(1.2)
}

#teamSelector > #teamGrid > .team[data-team-position="left"] { transform-origin: right; --arrow-rotation: 180deg; }
#teamSelector > #teamGrid > .team[data-team-position="right"] { transform-origin: left; --arrow-rotation: 0deg; }

#teamSelector > #teamGrid > .team[data-team-position="top-left"] { transform-origin: bottom right; --arrow-rotation: -135deg; }
#teamSelector > #teamGrid > .team[data-team-position="top-right"] { transform-origin: bottom left; --arrow-rotation: -45deg; }
#teamSelector > #teamGrid > .team[data-team-position="bottom-left"] { transform-origin: top right; --arrow-rotation: 135deg; }
#teamSelector > #teamGrid > .team[data-team-position="bottom-right"] { transform-origin: top left; --arrow-rotation: 45deg; }

#teamSelector > #teamGrid > .team[data-team-id="0"] { background: var(--color-1);}
#teamSelector > #teamGrid > .team[data-team-id="1"] { background: var(--color-3);}
#teamSelector > #teamGrid > .team[data-team-id="2"] { background: var(--color-6);}
#teamSelector > #teamGrid > .team[data-team-id="3"] { background: var(--color-2);}
